@utility btn--base {
  --btn-bg: var(--color-surface);
  --btn-bg-hover: color-mix(in oklch, var(--color-surface), black 10%);
  --btn-duration: 120ms;

  @apply inline-flex gap-1;
  @apply appearance-none border-0 rounded-none select-none whitespace-nowrap isolate;
  @apply font-sans font-normal text-ink leading-none shadow-none;
  font-size: 0.8rem;
  text-decoration: none;
  background: var(--btn-bg);
  transition:
    background-color var(--btn-duration) ease-out,
    color var(--btn-duration) ease-out,
    transform calc(var(--btn-duration) / 2) ease-out;

  & > * {
    @apply relative z-1;
  }
}

@utility btn--like {
  @apply btn--base;
  @apply h-10 min-w-11 pr-6 pl-1 pt-1 pb-0;
}

@utility btn {
  @apply btn--like;
  @apply cursor-pointer;

  &:hover:where(:not(.dropdown-open)) {
    --btn-bg: var(--btn-bg-hover);
  }
  &:focus-visible {
    @apply outline-2 outline-offset-2;
    outline-style: solid;
    outline-color: var(--color-accent);
  }
  &:disabled {
    @apply pointer-events-none striped opacity-60;
  }

  &.is-selected {
    --btn-bg: var(--color-accent);
    color: white;
  }
}

@utility btn--accent {
  --btn-bg: var(--color-accent);
  --btn-bg-hover: oklch(from var(--color-accent) l calc(c * 1.3) h);
  color: white;
}

@utility btn--ink {
  --btn-bg: var(--color-ink);
  --btn-bg-hover: color-mix(in oklch, var(--color-ink), white 30%);
  color: var(--color-surface);
}

@utility btn--ghost {
  @apply btn--base;
  @apply cursor-pointer;
  --btn-bg: transparent;
  --btn-bg-hover: transparent;
  background: transparent;
  color: inherit;

  &:not(:disabled) {
    text-decoration: underline 1px solid
      color-mix(in oklch, transparent 40%, currentColor);
    text-underline-offset: 0.2rem;
  }
  &:hover {
    color: var(--color-accent);
  }

  &.is-selected {
    @apply text-accent font-medium;
    text-decoration: none;
  }
}
