@utility btn--size {
  font-size: 0.8rem;
}

@utility btn {
  --btn-line-height: 2.2;
  --btn-cap-bleed: 0.2rem;
  --btn-bg: var(--color-pane);
  --btn-bg-hover: color-mix(in oklch, white, var(--color-pane) 80%);
  --btn-duration: 120ms;
  @apply inline-flex items-center justify-center gap-[0.35rem] relative isolate cursor-pointer select-none whitespace-nowrap font-medium;
  background: var(--btn-bg);
  border-radius: calc(var(--btn-line-height) / 2 * 1em);
  box-shadow: 0 1.5px 2px -1px rgba(0, 0, 0, 0.3);
  color: var(--color-pane-content);
  font-family: var(--font-sans);
  @apply btn--size;
  line-height: var(--btn-line-height);
  text-decoration: none;
  transition:
    background-color var(--btn-duration) ease-out,
    border-radius calc(var(--btn-duration) / 2) ease,
    box-shadow var(--btn-duration) ease-out,
    color var(--btn-duration) ease-out,
    transform calc(var(--btn-duration) / 2) ease-out,
    text-decoration-color var(--btn-duration) ease-out;

  padding-inline: calc(var(--btn-line-height) / 2 * 1em - var(--btn-cap-bleed));
  min-height: calc(var(--btn-line-height) * 1em);
  & > * {
    @apply relative z-1;
  }
  &::before,
  &::after {
    content: "";
    @apply absolute top-0 pointer-events-none;
    height: 100%;
    width: calc(var(--btn-line-height) / 2 * 1em);
    background: var(--btn-bg);
    transition: background-color var(--btn-duration) ease-out;
    z-index: -1;
  }
  &::before {
    left: 0;
    clip-path: url(#pill-cap-left);
  }
  &::after {
    right: 0;
    clip-path: url(#pill-cap-right);
  }

  &:hover:where(:not(.dropdown-open)) {
    --btn-bg: var(--btn-bg-hover);
  }
  &:active {
    transform: scale(0.98) translateY(1px);
  }
  &:focus-visible {
    @apply outline-2 outline-offset-2;
    outline-style: solid;
    outline-color: var(--color-accent);
  }
  &:disabled {
    @apply opacity-40 pointer-events-none;
  }

  &.btn--no-tl {
    border-top-left-radius: 0;
  }
  &.btn--no-bl {
    border-bottom-left-radius: 0;
  }
  &.btn--no-tr {
    border-top-right-radius: 0;
  }
  &.btn--no-br {
    border-bottom-right-radius: 0;
  }
}

@utility btn--accent {
  --btn-bg: var(--color-accent);
  --btn-bg-hover: oklch(from var(--color-accent) l calc(c * 1.3) h);
}

@utility btn--ghost {
  @apply bg-transparent shadow-none rounded-none;
  &::before,
  &::after {
    @apply hidden;
  }
  color: inherit;
  padding-inline: 0;
  line-height: 1rem;
  min-height: auto;

  &:not(:disabled) {
    text-decoration: underline 1.5px solid
      color-mix(in oklch, transparent 40%, currentColor);
    text-underline-offset: 0.2rem;
  }
  &:hover {
    text-decoration-color: var(--color-accent);
  }

  &.is-selected {
    @apply text-accent font-medium;
    text-decoration: none;
  }
}
