@utility btn--size {
  font-size: 0.8rem;
}

@utility btn {
  --btn-line-height: 2.2;
  --btn-cap-r: calc(var(--btn-line-height) / 2 * 1em);
  --btn-cap-bleed: 0.2rem;
  --btn-bg: color-mix(in oklch, var(--color-pane));
  --btn-bg-hover: color-mix(in oklch, var(--color-pane), white 30%);
  --btn-stroke: var(--color-stroke);
  --btn-stroke-hover: var(--btn-stroke);
  --btn-stroke-width: 1px;
  --btn-duration: 120ms;

  @apply squircle;
  --sq-r: var(--btn-cap-r);
  --sq-fill: var(--btn-bg);
  --sq-stroke: var(--btn-stroke);
  --sq-stroke-width: var(--btn-stroke-width);
  --sq-duration: var(--btn-duration);

  @apply inline-flex items-center justify-center gap-[0.35rem] isolate cursor-pointer select-none whitespace-nowrap font-medium;
  background: var(--btn-bg);
  /*box-shadow: 2px 1px 3px -1px rgba(0, 0, 0, 0.3);*/
  color: var(--color-ink);
  font-family: var(--font-sans);
  @apply btn--size;
  line-height: var(--btn-line-height);
  text-decoration: none;
  transition:
    background-color var(--btn-duration) ease-out,
    border-radius calc(var(--btn-duration) / 2) ease,
    box-shadow var(--btn-duration) ease-out,
    color var(--btn-duration) ease-out,
    transform calc(var(--btn-duration) / 2) ease-out,
    text-decoration-color var(--btn-duration) ease-out;

  padding-inline: calc(var(--btn-cap-r) - var(--btn-cap-bleed));
  min-height: calc(var(--btn-cap-r) * 2);
  & > * {
    @apply relative z-1;
  }

  &:hover:where(:not(.dropdown-open)) {
    --btn-bg: var(--btn-bg-hover);
  }
  &:active {
    transform: scale(0.98) translateY(1px);
  }
  &:focus-visible {
    @apply outline-2 outline-offset-2;
    outline-style: solid;
    outline-color: var(--color-accent);
  }
  &:disabled {
    @apply opacity-40 pointer-events-none;
  }

  &.btn--no-tl {
    --sq-r-tl: 0px;
  }
  &.btn--no-tr {
    --sq-r-tr: 0px;
  }
  &.btn--no-bl {
    --sq-r-bl: 0px;
  }
  &.btn--no-br {
    --sq-r-br: 0px;
  }
}

@utility btn--accent {
  --btn-bg: var(--color-accent);
  --btn-bg-hover: oklch(from var(--color-accent) l calc(c * 1.3) h);
  color: white;
}

@utility btn--ghost {
  @apply bg-transparent shadow-none rounded-none;
  &::before,
  &::after {
    @apply hidden;
  }
  color: inherit;
  padding-inline: 0;
  line-height: 1rem;
  min-height: auto;

  &:not(:disabled) {
    text-decoration: underline 1px solid
      color-mix(in oklch, transparent 40%, currentColor);
    text-underline-offset: 0.2rem;
  }
  &:hover {
    color: var(--color-accent);
    @apply shadow-none;
  }

  &.is-selected {
    @apply text-accent font-medium;
    text-decoration: none;
  }
}
