@utility content-layout {
  @apply grid w-full mx-auto grid-cols-[1fr_0fr] gap-0;

  @container (width >= 64rem) {
    @apply grid-cols-[2fr_1fr] gap-8;
  }
  @container (width >= 96rem) {
    @apply max-w-[90rem];
  }
}

@utility content-layout--side {
  @apply grid-cols-[2fr_1fr] gap-4;

  @container (width >= 64rem) {
    @apply gap-8;
  }
}

@utility content-main {
  @apply px-4;

  @container (width >= 64rem) {
    @apply px-16;
  }
}

@utility content-side {
  @apply min-w-0 pr-4;

  @container (width >= 64rem) {
    @apply pr-16;
  }
}

@utility stack {
  gap: 1px;
  background: var(--color-stroke);
}

@utility stack--col {
  padding-block: 1px;
}

@utility stack--row {
  padding-inline: 1px;
}
