:root {
  --z-base: 0;
  --z-mark: -10;
  --z-toolbar: 20;
  --z-panel: 30;
  --z-scrim: 40;
  --z-dropdown: 50;
  --z-tooltip: 60;
  --z-dialog: 70;
  --z-toast: 80;
}

@utility z-base {
  z-index: var(--z-base);
}
@utility z-mark {
  z-index: var(--z-mark);
}
@utility z-toolbar {
  z-index: var(--z-toolbar);
}
@utility z-dropdown {
  z-index: var(--z-dropdown);
}
@utility z-tooltip {
  z-index: var(--z-tooltip);
}
@utility z-dialog {
  z-index: var(--z-dialog);
}
@utility z-toast {
  z-index: var(--z-toast);
}
