@import "tailwindcss";
@import "./badges.css";
@import "./buttons.css";
@import "./caret.css";
@import "./content.css";
@import "./dialog.css";
@import "./dropdown.css";
@import "./input.css";
@import "./layers.css";
@import "./logo.css";
@import "./marks.css";
@import "./motion.css";
@import "./overlay.css";
@import "./pane.css";
@import "./toast.css";
@import "./tooltip.css";
@import "./view-transitions.css";
@import "./wavebars.css";
@plugin "@tailwindcss/typography";

:root {
  --color-paper: light-dark(oklch(100% 0 50), oklch(25% 0 50));
  --color-ink: light-dark(oklch(15% 0.01 60), oklch(95% 0.01 60));
  --color-accent: oklch(62% 0.22 29);
  --color-surface: light-dark(oklch(99% 0 0), oklch(30% 0 0));
  --color-stroke: light-dark(
    color-mix(in oklch, var(--color-ink) 20%, white),
    color-mix(in oklch, var(--color-ink) 45%, black)
  );
  --color-opposite: light-dark(black, white);
  color-scheme: light dark;
}

:root:where([data-theme="light"]) {
  color-scheme: light;
}

:root:where([data-theme="dark"]) {
  color-scheme: dark;
}

@theme inline {
  --color-paper: var(--color-paper);
  --color-ink: var(--color-ink);
  --color-accent: var(--color-accent);
  --color-surface: var(--color-surface);
  --color-stroke: var(--color-stroke);
}

@theme {
  --font-serif: "IBM Plex Serif", ui-serif, Georgia, serif;
  --font-sans:
    "Atkinson Hyperlegible Next Variable", "Special Gothic Variable",
    ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Recursive Variable", ui-monospace, SFMono-Regular, monospace;
  --font-mono--font-variation-settings: "MONO" 1;
  --shadow-md:
    1px 2px 1px 0px oklch(0 0 0 / 0.05), 2px 3px 0px 0px oklch(0 0 0 / 0.05);
}

@layer utilities {
  :where(.font-mono) {
    font-size: 0.9em;
  }
}

@layer base {
  html {
    background-color: var(--color-surface);
    color: var(--color-ink);
    font-size: 18px;
  }

  html[data-app-font="gothic"] {
    --font-sans:
      "Special Gothic Variable", ui-sans-serif, system-ui, sans-serif;
  }

  html[data-app-font="system"] {
    --font-sans: ui-sans-serif, system-ui, sans-serif;
  }
}

.prose {
  --tw-prose-body: var(--color-ink);
  --tw-prose-headings: var(--color-ink);
  --tw-prose-lead: color-mix(in oklch, var(--color-ink) 70%, transparent);
  --tw-prose-links: var(--color-accent);
  --tw-prose-bold: var(--color-ink);
  --tw-prose-counters: color-mix(in oklch, var(--color-ink) 60%, transparent);
  --tw-prose-bullets: color-mix(in oklch, var(--color-ink) 30%, transparent);
  --tw-prose-hr: var(--color-stroke);
  --tw-prose-quotes: var(--color-ink);
  --tw-prose-quote-borders: var(--color-stroke);
  --tw-prose-captions: color-mix(in oklch, var(--color-ink) 60%, transparent);
  --tw-prose-code: var(--color-ink);
  --tw-prose-pre-code: var(--color-ink);
  --tw-prose-pre-bg: color-mix(
    in oklch,
    var(--color-paper) 80%,
    var(--color-stroke)
  );
  --tw-prose-th-borders: var(--color-stroke);
  --tw-prose-td-borders: var(--color-stroke);

  h1 {
    font-weight: 400;
    font-size: 2.75em;
  }
  h2 {
    font-weight: 400;
    font-size: 1.875em;
  }
  h3 {
    font-weight: 400;
    font-size: 1.375em;
  }
  h4 {
    font-weight: 400;
    font-size: 1.125em;
  }
  h5 {
    font-weight: 400;
  }
  h6 {
    font-weight: 400;
  }

  .font-mono & {
    font-size: 1em;
  }
}

@utility striped-* {
  --sqrt2: 1.4142135624;
  --stripe-line: calc(1 * var(--sqrt2) * 1px);
  --stripe-period: calc(4 * var(--sqrt2) * 1px);
  --stripe-opacity: --value(integer, --default(10));
  --stripe-opacity: --modifier(integer);
  --stripe-color: color-mix(
    in oklch,
    var(--color-ink),
    transparent calc(100% - var(--stripe-opacity) * 1%)
  );
  background-image: repeating-linear-gradient(
    -45deg,
    var(--stripe-color) 0,
    var(--stripe-color) var(--stripe-line),
    transparent var(--stripe-line),
    transparent var(--stripe-period)
  );
}

@utility separator {
  @apply h-3 bg-surface/90 striped/5;
}
