.tooltip {
  @apply slant fixed pointer-events-none text-white text-[0.7rem] py-0 px-1;
  --slant-bg: var(--color-ink);
  --slant-inset-y: 0.1rem;
  transform: translate(12px, 12px);
  animation: tooltip-fade-in 100ms ease-out;
  /* TODO: edge detection */
}

@keyframes tooltip-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
